<md-list-item ng-click="null" ng-class="{'active_list_item':active}" layout="row" class="md-3-line">
    <div flex="20" class="md-list-item-text">
        <md-icon class="material-icons md-48">{{getClass(order.status)}}</md-icon>
    </div>
    <div flex="60" class="md-list-item-text" layout="column">
        <h3>{{order.client.name}}</h3>
        <h4>{{order.client.phone}}</h4>
        <h4>{{order.client.email}}</h4>
    </div>
    <div flex="20" class="md-list-item-text" layout="column" layout-align="center center">
        <h3>{{order.orderMade|date:'HH:mm'}}</h3>
        <h4>{{order.orderMade|date:'yyyy.MM.dd'}}</h4>
    </div>
</md-list-item>